<h2>Register</h2>

<%= form_for @user, url: register_path do |f| %>
  <div>
    <%= f.label :username %>
    <%= f.text_field :username %>
  </div>

  <div>
    <%= f.label :password_digest %>
    <%= f.password_field :password_digest %>
  </div>

  <div>
    <%= f.submit 'Register' %>
  </div>
<% end %>
